<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infinite.PuTTY.Tunnel.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infinite.PuTTY.Tunnel.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Infinite.PuTTY.Tunnel.Properties.Settings>
      <setting name="PlinkLocation" serializeAs="String">
        <value>C:\Program Files (x86)\PuTTY\plink.exe</value>
      </setting>
      <setting name="WatchDogRetryDelay" serializeAs="String">
        <value>5000</value>
      </setting>
    </Infinite.PuTTY.Tunnel.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Infinite.PuTTY.Tunnel.Properties.Settings>
      <setting name="PlinkURL" serializeAs="String">
        <value>http://the.earth.li/~sgtatham/putty/latest/x86/plink.exe</value>
      </setting>
    </Infinite.PuTTY.Tunnel.Properties.Settings>
  </applicationSettings>
</configuration>